<article>
    <h1>Experiencia</h1>
    <div>
      <img class="eduLogo" src="https://yt3.ggpht.com/9upo5zbtXzvItj8IMHF1X9hI95x4YOeGCApLk1DhMQCHftmJvf2GWmbJXrC1TKCrn-AyQ2txBw=s900-c-k-c0x00ffffff-no-rj" width="100px" height="100px">
      <div class="info">
        <h2>Mi situación laboral</h2>
        <p>Actualmente no poseo experiencia profesional
      dentro del mundo IT, ni en un empleo en
       cualquier otro ámbito. Pero hoy en día colaboro con el
      negocio de mi familia. Que posee un pequeño comercio de
       cercanía, donde </p>		
      </div>
      <div class="botonera">
        <a href="" class="delete"><img src=".\assets\eliminar.png" width="20px" height="20px"></a>
        <a href="" class="edit"><img src="./assets/lapiz.png" width="20px" height="20px"></a>
        <a href="" class="add"> <img src="./assets/mas.png" width="20px" height="20px"></a>
      </div>							
    </div>
    
  </article>