<article id="education">
  <h1>Educación</h1>
  <div *ngFor="let educacion of miEducacion">
    <img class="eduLogo" [src]="educacion.img" width="100px" height="100px" />
    <div class="info">
      <h2>{{ educacion.name }}</h2>
      <p>{{ educacion.career }}</p>
      <p>{{ educacion.initialDate }} - {{ educacion.finalDate }}</p>
    </div>

    <div class="botonera">
      <a href="" class="delete"
        ><img src=".\assets\eliminar.png" width="20px" height="20px"
      /></a>
      <a href='edit-education/{{miEducacion.ideducacion}}' class="edit"
        ><img src="./assets/lapiz.png" width="20px" height="20px"
      /></a>
      <a href="new-education" class="add">
        <img src="./assets/mas.png" width="20px" height="20px"
      /></a>
    </div>
    <hr />
  </div>
</article>
