
<nav>
    <p>Tomás Euliarte</p>
      <div id="links">
        <a href=""><img src="./assets/facebook.png" width="20px" height="20px" class="social"></a>
        <a href=""><img src="./assets/instagram.png" width="20px" height="20px" class="social"></a>
        <a href=""><img src="./assets/twitter.png" width="20px" height="20px" class="social"></a>					
      </div>				
        <a href="" id="login">
          <p>login</p>
          <img id="usuario"src="./assets/usuario.png" width="20px" height="20px">	
        </a>					
  </nav>
