<header>			
  <img id="portada" [src]='persona.coverImg'>
  <img id="perfil" [src]="persona.img">			
  <div id="profileInfo">				
    <h2>{{persona.name}}</h2>
    <p>{{persona.title}}</p>
    <p>{{persona.ubication}}</p>
    <a href="edit-profile" id="editarPerfil" class="edit"><img src="./assets/lapiz.png" width="30px" height="30px"></a>
  </div>
</header>

<article id="about">
    <h2>Acerca de</h2>
    <p id="textAboutme">{{persona.info}}</p>
      <a href="#about" onclick="cambiarParrafo('edit_acercade', 'textAboutme')" class="edit"><img src="./assets/lapiz.png" width="20px" height="20px"></a>
    
    <input type="text" oninput="submit(this.value, 'textAboutme')" id="edit_acercade" style="display:none">
  </article>